.summary {
    position: relative;
    margin-top: 280px;

    &--person {
        position: relative;
        img {
            position: absolute;
            top: -50px;
            width: 48vw;
            min-width: 750px;
            max-width: 900px;
            // max-width: 950px;
            transform: translateX(-20%);
        }

        #fullPicture {
            z-index: 11;
        }
        #justBoots {
            z-index: 13;
        }

        @media screen and (max-width: 1200px) {
            img {
                min-width: 650px;
            }
        }
        @media screen and (max-width: 1000px) {
            img {
                top: -100px;
                transform: translateX(-27.5%);
            }
        }
    }
    &--content {
        grid-column: 5/13;
        display: flex;
        flex-direction: column;

        position: relative;
        z-index: 14;

    }

    &--title {
        color: $secondary;
        width: 67%;
        font-weight: 600;
        font-family: 'Gotham', sans-serif;

        @media screen and (max-width: 1225px) {
            text-align: right;
            margin-left: auto;
            padding-right: 2.4rem;
            width: 88%;
        }
    }

    &--video {

        &--play-btn {
            position: absolute;
            top: 50%; left: 50%;
            transform: translate(-50%, -50%);
            background-color: transparent;
            border: none;
            z-index: 15;
            svg {
                font-size: 10.4vw;
            }
        }

        &--actual {
            width: 100%;
            height: min-content;
            border-radius: 4.4rem;
            overflow: hidden;

            position: relative;
            box-shadow: 0 2.9rem 5.2rem rgba(0,0,0,.16);

            &::after {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-image: radial-gradient(circle at center, rgba($primary-foreground-light, .73) 0, $secondary 110%);
            }
        }
        &--caption {
            width: 100%;
            display: inline-block;
            font-size: 2.25rem;
            padding: 1rem 4rem;
        }
        &__wrapper {
                width: 100%;
        }
        @media screen and (max-width: 1300px) {
            &--actual {
                border-radius: 2.2rem;
            }
        }
        @media screen and (max-width: 1050px) {
            
            &--caption {
                font-size: 1.8rem;
            }
        }
    }
    &--cta {
        background-color: $secondary;
        background-image: linear-gradient(145deg, $primary 0, $secondary 110%);
        color: $white;
        text-align: right;
        padding: 2.8rem 3.2rem;
        border-radius: .5rem;
        width: 80%;
        max-width: 650px;
        margin: 55px 0 0 auto;
        font-size: 2.813rem;

        @media screen and (max-width: 1050px) {
            font-size: 2.25rem;
        }
    }
}